* {
  margin: 0;
  padding: 0;
  color: var(--wine);
}

/* CORE SITE PALETTE */
:root {
  --white: white;
  --wine: rgb(121, 20, 55);
  --olive: rgb(182, 182, 110);
  --border-radius: 50px;
}

#navigation {
  background-color: var(--wine);
  height: 60px;
}

#footer {
  justify-content: space-around;
}